rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isValidId(id) {
      return id is string && id.size() <= 128 && id.matches('^[a-zA-Z0-9_\\-]+$');
    }

    function incoming() {
      return request.resource.data;
    }

    function isValidSimulation(data) {
      let requiredKeys = ['amount', 'annualInterestRate', 'termMonths', 'startDate', 'openingFeeType', 'openingFeeValue', 'isOpeningFeeFinanced', 'insuranceSinglePremium', 'isInsuranceFinanced', 'recurringMonthlyCosts', 'id', 'shortCode', 'createdAt', 'expiresAt', 'userName', 'userEmail'];
      return data.keys().hasAll(requiredKeys)
        && data.keys().size() >= 16 && data.keys().size() <= 17
        && data.amount is number && data.amount > 0
        && data.annualInterestRate is number
        && data.termMonths is number && data.termMonths > 0
        && data.startDate is string && data.startDate.size() <= 64
        && data.openingFeeType in ['percent', 'fixed']
        && data.openingFeeValue is number
        && data.isOpeningFeeFinanced is bool
        && data.insuranceSinglePremium is number
        && data.isInsuranceFinanced is bool
        && data.recurringMonthlyCosts is number
        && data.userName is string && data.userName.size() >= 2 && data.userName.size() <= 100
        && data.userEmail is string && data.userEmail.size() >= 5 && data.userEmail.size() <= 100 && data.userEmail.matches('^.+@.+$')
        && (data.get('userProvidedApr', 0) is number)
        && data.id is string && data.id.size() <= 128
        && data.shortCode is string && data.shortCode.size() == 6 && data.shortCode.matches('^[A-Z0-9]+$')
        && data.createdAt == request.time
        && data.expiresAt >= data.createdAt + duration.value(6, 'd')
        && data.expiresAt <= data.createdAt + duration.value(8, 'd');
    }

    match /simulations/{simulationId} {
      function isNotExpired() {
        return resource == null || request.time < resource.data.expiresAt;
      }

      allow get: if isNotExpired();
      allow list: if false; // No longer needed
      
      allow create: if isValidId(simulationId) 
        && isValidSimulation(incoming()) 
        && incoming().id == simulationId;
      
      allow update, delete: if false; // Once shared, it's immutable
    }
  }
}
