@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-bg-main: #f8fafc;
  --color-border-base: #e2e8f0;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
}
